
div{

	border: solid 1px;
	border-radius: 3px;
}

.dv_2b{
	width: 200px;
	height: 200px;
}

.dv_3b{
	width: 300px;
	height: 200px;
}

.dv_4b{
	width: 400px;
	height: 200px;
}

.dv_5b{
	width: 500px;
	height: 200px;
}

.dv_6b{
	width: 600px;
	height: 200px;
}

.dv_7b{
	width: 700px;
	height: 200px;
}

.dv_8b{
	width: 800px;
	height: 200px;
}

.dv_9b{
	width: 900px;
	height: 200px;
}
.dv_10b{
	width: 1000px;
	height: 200px;
}

.dv_11b{
	width: 1100px;
	height: 200px;
}

.dv_12b{
	width: 1200px;
	height: 200px;
}