3<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>div+css网页标准版式布局—div+css模板下载_div+css实例教程_css版式_css布局_css版式布局_网页标准布局_网页标准模板下载—标准之路www.aa25.cn</title>
<link href="layout.css" rel="stylesheet" type="text/css">
<meta name="Keywords" content="div+css模板下载,div+css实例教程,css版式,css布局,css版式布局,网页标准布局,网页标准模板下载">
<meta name="Description" content="标准之路经过长时间的积累总结，推出这一系列共50套的div+css网页标准版式布局。一方面可以供大家下载直接使用，另外也可做为初学者循序渐进学习的实例教程。">
<link id="skin" rel="stylesheet" type="text/css" href="green.css">

</head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="/index.shtml"><img src="/v3/images/logo.gif" width="126" height="30"></a></h1>
  </div>

  <div id="mainContent">

    <div id="diypage"> <div><div class="banshi">
              <h1><span>红色字符和背景标识的为比较实用的结构</span>固定宽度CSS版式布局</h1>
              <ul>
                <li><a href="1.1/index.html" target="_blank"><img src="images/01.gif" alt="1列固定宽度居中" width="151" height="129"></a></li>
                <li><a href="2.1-1/index.html" target="_blank"><img src="images/02.gif" alt="1列固定宽度居中+头部" width="151" height="129"></a></li>
                <li><a href="3.1-1-1/index.html" target="_blank"><img src="images/03.gif" alt="1列固定宽度居中+头部+尾部" width="151" height="129"></a></li>
                <li><a href="4.1-1-1-1/index.html" target="_blank"><img src="images/04.gif" alt="1列固定宽度居中+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="5.(1+3)/index.html" target="_blank"><img src="images/05.gif" alt="2列固定宽度居中左窄右宽型" width="151" height="129"></a></li>
                <li><a href="6.(3+1)/index.html" target="_blank"><img src="images/06.gif" alt="2列固定宽度居中右窄左宽型" width="151" height="129"></a></li>
                <li><a href="7.(2+2)/index.html" target="_blank"><img src="images/07.gif" alt="2列固定宽度居中平分型" width="151" height="129"></a></li>
                <li><a href="8.1-(1+3)/index.html" target="_blank"><img src="images/08.gif" alt="2列固定宽度左窄右宽型+头部" width="151" height="129"></a></li>
                <li><a href="9.1-(3+1)/index.html" target="_blank"><img src="images/09.gif" alt="2列固定宽度右窄左宽型+头部" width="151" height="129"></a></li>
                <li><a href="10.1-(1+3)-1/index.html" target="_blank"><img src="images/10.gif" alt="2列固定宽度左窄右宽型+头部+尾部" width="151" height="129"></a></li>
                <li><a href="11.1-(3+1)-1/index.html" target="_blank"><img src="images/11.gif" alt="2列固定宽度右窄左宽型+头部+尾部" width="151" height="129"></a></li>
                <li><a href="12.1-1-(1+3)/index.html" target="_blank"><img src="images/12.gif" alt="2列固定宽度左窄右宽型+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="13.1-1-(3+1)/index.html" target="_blank"><img src="images/13.gif" alt="2列固定宽度右窄左宽型+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="14.1-1-(1+3)-1/index.html" target="_blank"><img src="images/14.gif" alt="2列固定宽度左窄右宽型+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="15.1-1-(3+1)-1/index.html" target="_blank"><img src="images/15.gif" alt="2列固定宽度右窄左宽型+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="16.(1+2+1)/index.html" target="_blank"><img src="images/16.gif" alt="3列固定宽度居中" width="151" height="129"></a></li>
                <li><a href="17.1-(1+2+1)/index.html" target="_blank"><img src="images/17.gif" alt="3列固定宽度居中+头部" width="151" height="129"></a></li>
                <li><a href="18.1-(1+2+1)-1/index.html" target="_blank"><img src="images/18.gif" alt="3列固定宽度居中+头部+尾部" width="151" height="129"></a></li>
                <li><a href="19.1-1-(1+2+1)/index.html" target="_blank"><img src="images/19.gif" alt="3列固定宽度居中+头部+导航" width="151" height="129"></a></li>
                <li><a href="20.1-1-(1+2+1)-1/index.html" target="_blank"><img src="images/20.gif" alt="3列固定宽度居中+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="21.1-1-(1+3)-1/index.html" target="_blank"><img src="images/21.gif" alt="2列左窄右宽、高度自适应+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="22.1-1-(3+1)-1/index.html" target="_blank"><img src="images/22.gif" alt="2列右窄左宽、高度自适应+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="23.1-1-(1+3)-1/index.html" target="_blank"><img src="images/23.gif" alt="2列左窄右宽高度自适应且未知高度底部平齐、型+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="24.1-1-(1+3)-1/index.html" target="_blank"><img src="images/24.gif" alt="2列右窄左宽、高度自适应且未知高度底部平齐+头部+导航+尾部" width="151" height="129"></a></li>
              </ul>
              <h1><span>红色字符和背景标识的为比较实用的结构</span>自适应(弹性)宽度CSS版式布局</h1>
              <ul>
                <li><a href="25.∽1/index.html" target="_blank"><img src="images/25.gif" alt="2列右窄左宽、高度自适应且未知高度底部平齐+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="26.∽1-1/index.html" target="_blank"><img src="images/26.gif" alt="1列自适应宽度+头部" width="151" height="129"></a></li>
                <li><a href="27.∽1-1-1/index.html" target="_blank"><img src="images/27.gif" alt="1列自适应宽度居中+头部+尾部" width="151" height="129"></a></li>
                <li><a href="28.∽1-1-1-1/index.html" target="_blank"><img src="images/28.gif" alt="1列固定宽度居中+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="29.(l+∽)/index.html" target="_blank"><img src="images/29.gif" alt="2列左侧固定，右侧自适应宽度，中间无缝型" width="151" height="129"></a></li>
                <li><a href="30.(∽+1)/index.html" target="_blank"><img src="images/30.gif" alt="2列右侧固定，左侧自适应宽度，中间无缝型" width="151" height="129"></a></li>
                <li><a href="31.(l+∽)/index.html" target="_blank"><img src="images/31.gif" alt="2列左侧固定，右侧自适应宽度" width="151" height="129"></a></li>
                <li><a href="32.(∽+1)/index.html" target="_blank"><img src="images/32.gif" alt="2列右侧固定，左侧自适应宽度" width="151" height="129"></a></li>
                <li><a href="33.(∽+∽)/index.html" target="_blank"><img src="images/33.gif" alt="2列左侧百分比右侧自适应" width="151" height="129"></a></li>
                <li><a href="34.1-(1+∽)/index.html" target="_blank"><img src="images/34.gif" alt="2列左侧固定，右侧自适应宽度+头部" width="151" height="129"></a></li>
                <li><a href="35.1-(∽+1)/index.html" target="_blank"><img src="images/35.gif" alt="2列右侧固定左侧自适应宽度+头部" width="151" height="129"></a></li>
                <li><a href="36.1-(1+∽)-1/index.html" target="_blank"><img src="images/36.gif" alt="2列左侧固定右侧自适应宽度+头部+尾部" width="151" height="129"></a></li>
                <li><a href="37.1-(∽+1)-1/index.html" target="_blank"><img src="images/37.gif" alt="2列右侧固定，左侧自适应宽度+头部+尾部" width="151" height="129"></a></li>
                <li><a href="38.1-1-(1+∽)/index.html" target="_blank"><img src="images/38.gif" alt="2列左侧固定，右侧自适应宽度+头部+导航" width="151" height="129"></a></li>
                <li><a href="39.1-1-(∽+1)/index.html" target="_blank"><img src="images/39.gif" alt="2列右侧固定左侧自适应宽度+头部+导航" width="151" height="129"></a></li>
                <li><a href="40.1-1-(1+∽)-1/index.html" target="_blank"><img src="images/40.gif" alt="2列左侧固定右侧自适应宽度+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="41.1-1-(∽+1)-1/index.html" target="_blank"><img src="images/41.gif" alt="2列右侧固定左侧自适应宽度+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="42.(1+∽+1)/index.html" target="_blank"><img src="images/42.gif" alt="3列左右侧固定，中间列自适应居中" width="151" height="129"></a></li>
                <li><a href="43.1-(1+∽+1)/index.html" target="_blank"><img src="images/43.gif" alt="3列左右侧固定，中间列自适应居中+头部" width="151" height="129"></a></li>
                <li><a href="44.1-(1+∽+1)-1/index.html" target="_blank"><img src="images/44.gif" alt="3列左右侧固定，中间列自适应居中+头部+尾部" width="151" height="129"></a></li>
                <li><a href="45.1-1-(1+∽+1)/index.html" target="_blank"><img src="images/45.gif" alt="3列左右侧固定，中间列自适应居中+头部+导航" width="151" height="129"></a></li>
                <li><a href="46.1-1-(1+∽+1)-1/index.html" target="_blank"><img src="images/46.gif" alt="3列左右侧固定，中间列自适应居中+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="47.1-1-(1+∽)-1/index.html" target="_blank"><img src="images/47.gif" alt="2列左侧固定右侧自适应宽度，未知高度+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="48.1-1-(∽+1)-1/index.html" target="_blank"><img src="images/48.gif" alt="2列右侧固定左侧自适应宽度，未知高度+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="49.1-1-(1+∽)-1/index.html" target="_blank"><img src="images/49.gif" alt="2列左侧固定右侧自适应宽度，未知高度且底部平齐+头部+导航+尾部" width="151" height="129"></a></li>
                <li><a href="50.1-1-(∽+1)-1/index.html" target="_blank"><img src="images/50.gif" alt="2列右侧固定左侧自适应宽度，未知高度且底部平齐+头部+导航+尾部" width="151" height="129"></a></li>
              </ul>
              <h1>标准布局常见问题及解决办法(<a href="http://www.aa25.cn/491.shtml#comm" target="_blank">我要评论以上模板</a>)</h1>
              <dl>
                <dt>CSS2.0盒模型层次平面示意图和3D示意图</dt> 
                <dd><img src="css2模型.gif" alt="CSS2.0盒模型层次平面示意图和3D示意图" width="830" height="369"></dd>
                <dt>3像素问题及解决办法</dt> 
                <dd>当使用float浮动容器后，在IE6下会产生3px的空隙，有意思的是右侧容器没设置高度时3px在右侧容器内部，当设定高度后又跑到容器的左侧了，所以对布局精度要求高的话，请参考例29、31的解决方法</dd>
                <dt>上边容器浮动后，下边的容器跟着浮动，造成页面错乱</dt> 
                <dd>如以上例子中的footer必须要单独占一行，但当sidebar浮动后，content的高度小于sidebar的高度时，footer也跟着浮动到sidebar右侧了，造成页面错乱。解决办法是在maincontent和footer之间插入一个容器，设置样式 clear:both; height:0; font-size: 1px; line-height: 0px;用clear:both清除，即可使页面正常</dd>
                <dt>当子元素浮动且未知高度时，怎么使父容器适应子元素的高度？</dt> 
                <dd>这种情况可在父窗口加上 overflow:auto;zoom:1;这两个样式属性，overflow:auto;是让父容器来自适应内部容器的高度，zoom:1;是为了兼容IE6而使用的CSS HACK。zoom:1;通不过W3C的验证，这也是遗憾的一点，幸好IE支持&lt;!--[if IE]&gt;这种写法，可以专门针对IE来写单独的样式，所以可以把这个属性写在页面内的&lt;!--[if IE]&gt;中，这样应该可以通过验证了</dd>
                <dt>相对定位与绝对定位</dt> 
                <dd>规划页面时，许多时候需要用到相对定位或绝对定位，这里边有个技巧，掌握后有些地方就不用繁冗的js了。就是当父容器使用相对定位后，此时子元素再使用绝对定位，位置是相对于父元素。如果父元素没有定位，那么子元素的绝对定位是相对于浏览器</dd>
                <dt>IE6双倍边距bug</dt> 
                <dd>当页面内有多个连续浮动时，如本页的图标列表是采用左浮动，此时设置li的左侧margin值时，在最左侧呈现双倍情况。如外边距设置为10px，而左侧则呈现出20px，解决它的方法是在浮动元素上加上display:inline;的样式，这样就可避免双倍边距bug</dd>
              </dl>
            </div></div> </div>
  </div>
</div>
<div class="clearfloat"></div>
<div id="footer_bg">
  <div id="footer"><span>标准之路——致力于web标准化(DIV+CSS)的学习、探讨与研究</span>Copyright 2007-2012 Inc. <a href="http://www.miibeian.gov.cn" target="_blank">豫ICP备08106495号-5</a> 京公网安备11010502020343号<span style="display:none"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc4146a572a71db14ffd3deb8bfd6d2e8' type='text/javascript'%3E%3C/script%3E"));
</script><script src=" http://hm.baidu.com/h.js?c4146a572a71db14ffd3deb8bfd6d2e8" type="text/javascript"></script><script language="javascript" type="text/javascript" src="http://js.users.51.la/1967272.js"></script><a href="http://www.51.la/?1967272" target="_blank" title="51.la 专业、免费、强健的访问统计">网站统计</a>
</span> <a href="/site_blog/" target="_blank">站长博客</a> <a href="/site_blog/blog.shtml" target="_blank">日志</a> <a href="/rss.xml" target="_blank">订阅</a></div>
</div>


<div class="bdaddtocitebtn bdaddtocitebtn-slide bdaddtocitebtn-slide-darkblue" style="position: fixed; z-index: 9999; top: 200px; left: 0px;"><img src="http://bdimg.share.baidu.com/static/images/addtocite/slide_darkblue_left.png" alt="添加到百度首页"></div></body></html>