<!DOCTYPE html>
<html lang="en">
<head>
	<title>negative</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 	
    <link href="..\..\public\bootstrap\b2\css\bootstrap.css" rel="stylesheet" type="text/css"/>	
	<style>
/*		body{
			height: 100%;
		}
		.row-fluid{
			height: 100%;
		}
		.container{
			height: 100%;
		}*/
		.col{
			border: solid 1px ;
		}
		.r1c1{
			height: 100px;
		}
		.col2{
			border: solid 1px ;
			height: 100%;
		}
		.r2c1{
			height: 100px;
		}
		.col3{
			border: solid 1px ;
			height: 100%;
		}

		.row3{
			height: 100px;
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="span4 col r1c1">
					1134
					222
			</div>
			<div class="span4 col r1c2">2</div>
			<div class="span4 col r1c3">3</div>
		</div>
		<div class="row-fluid">
			<div class="span4 col2 r2c1">
					1134
					222
			</div>
			<div class="span4 col2 r2c2">2</div>
			<div class="span4 col2 r2c3">3</div>
		</div>
		<div class="row-fluid row3">
			<div class="span4 col3 r3c1">
					1134
					222
			</div>
			<div class="span4 col3 r3c2">2</div>
			<div class="span4 col3 r3c3">3</div>
		</div>		
	</div>
</body>
</html>